proxy:
  port: 8080
  authentication: simple
  admin-groups: admins
  users:
  - name: jack
    password: password
    groups: admins
  - name: jeff
    password: password
  docker:
    url: http://localhost:2375
  specs:
  - id: 01_hello
    display-name: Hello Application
    description: Default behaviour, app is stopped if not opened for 60 seconds. App is also stopped if the user logs out. If opened in a browser (or closed for less than 60 seconds and re-opened), the app can run indefinitely.
    container-image: openanalytics/shinyproxy-demo

  - id: 01_hello2
    display-name: Hello Application
    description: App is stopped if not opened for 5 minutes. App is also stopped if the user logs out. If opened in a browser (or closed for less than 5 minutes and re-opened), the app can run indefinitely.
    container-image: openanalytics/shinyproxy-demo
    heartbeat-timeout: 3600000

  - id: rstudio1
    displayName: RStudio
    description: A RStudio server that is never terminated by ShinyProxy
    containerImage: openanalytics/shinyproxy-rstudio-ide-demo:1.4.1106__4.0.4
    port: 8787
    container-env:
      DISABLE_AUTH: true
      WWW_ROOT_PATH: "#{proxy.getRuntimeValue('SHINYPROXY_PUBLIC_PATH')}" 
    heartbeat-timeout: -1
    stop-on-logout: false
    max-lifetime: -1

  - id: rstudio2
    displayName: RStudio
    description: A RStudio server that is only terminated after 24 hours, even if not opened in a browser or if the user logs out.
    containerImage: openanalytics/shinyproxy-rstudio-ide-demo:1.4.1106__4.0.4
    port: 8787
    container-env:
      DISABLE_AUTH: true
      WWW_ROOT_PATH: "#{proxy.getRuntimeValue('SHINYPROXY_PUBLIC_PATH')}" 
    heartbeat-timeout: -1
    stop-on-logout: false
    max-lifetime: 1440

  - id: rstudio3
    displayName: RStudio
    containerImage: openanalytics/shinyproxy-rstudio-ide-demo:1.4.1106__4.0.4
    description: A RStudio server that is only terminated when the user logs out
    port: 8787
    container-env:
      DISABLE_AUTH: true
      WWW_ROOT_PATH: "#{proxy.getRuntimeValue('SHINYPROXY_PUBLIC_PATH')}" 
    heartbeat-timeout: -1
    stop-on-logout: true
    max-lifetime: -1

  stop-proxies-on-shutdown: false
  recover-running-proxies: true

logging:
  file:
    namw: shinyproxy.log
